.personal{
    padding: 1rem;
    color: teal;
}

.description{
    text-align: center;
}

li{
    list-style-type: none;
}

ul{
    text-align: left;
}

.me{
    height: 20rem;
    align-items: flex-end;
    display: flex;
}

p{
    color: white;
    font-weight: 600;
    font-size: large;
}

.vid{
    filter: grayscale(100%);
}

.vid:hover{
    filter: grayscale(0%);
}